.services_main {
    background-color: #203D3F;
    color: white;
}

.section_body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .section_body {
        justify-content: center;
    }
}