.about_main {
    color: #203D3F;
}

.about_body {
    display: flex;
    padding: 0 0 40px;
    flex-wrap: wrap;
    justify-content: space-between;

    &>* {
        flex-basis: 47%;
    }

    .right {
        & p {
            width: 100%;
            font-size: 1em;
        }

        & button {
            margin: 30px 25px 0 0;
        }

    }

    .left img {
        border: 3px solid #32BC81;
        border-radius: 5px;
        width: 80%;
        aspect-ratio: 1;
    }
}

@media only screen and (max-width: 768px) {

    .left,
    .right {
        flex-basis: 100%;
        margin: 0 0 30px;
        text-align: center;

        & button {
            width: 80%;
            margin-right: 0 !important;
        }
    }

    img {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .right {
        & p {
            margin-bottom: 10%;
        }
    }
}